:root {
    --container-width: 980px;
    --primary-color: #085278;
    --secondery-color: #784200;
    font-size: 62.5%; /* 1rem = 10px */
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

  html, 
  body {
    height: 100%;
    font-family: Inter, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antilaliased;
    scroll-behavior: smooth;
    font-size: 2rem;
    background-color: #F8F8F8;
}

#flex-container{
  margin: 0 auto;
  display: flex;
}

.logo-aside{
  width: 235px;
  margin-bottom: 40px;
}
.user-body{
  width: 120px;
  margin-bottom: 15px;
}

.user{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user p{
  margin: 0 auto;
  color: white;
}

.menu-lateral nav {
  margin-top: 40px;
  width: 100%;
}

.menu-lateral nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
  
.menu-lateral ul li{
    list-style: none;
    font-size: 20px;
    padding: 14px;
    cursor: pointer;
    color: white;

    display: flex;
    align-items: center;
    gap: 15px
}

.menu-lateral .item-1 {
  width: 100%;
  background-color: #F8F8F8;
  color: var(--secondery-color);
}

.menu-lateral{
    padding-top: 20px;
    height: 100vh;
    width: 300px;
    background-color: var(--secondery-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-image{
    width: 22px;
    margin-right: 15px;
    align-self: stretch;
}

/* ------------------------- MAIN --------------------- */
  h1 {
    margin: 0 auto;
    text-align: center;
    color: var(--secondery-color);
    margin-bottom: 40px;
    padding-top: 20px;
  }
  
  main h2 {
    color: var(--secondery-color);
  }

  main {
    margin: 0 auto;
  }
  main #container {
    margin: 0 auto;
    max-width: var(--container-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 25% 45%; 
    grid-gap: 25px 50px;
  }

  section {
    max-width: 55rem;
    border-radius: 15px;
    padding-block: 25px;
    padding-inline: 15px; 
    background-color: #D9D9D9;
    box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.418);
  
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  /* ------------------------- driver --------------------- */  
  section#driver {
    align-items: flex-start;
    padding-inline: 25px;
    gap: 20px;
  }

  #driver span
   {
    color: #319F43;
  }
  
  #driver .img-container{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  #driver .img-container img {
    width: 30px;
  }
  
  /* ------------------------- delivery --------------------- */  
  #delivery p {
    color: #DA2535;
    font-size: 2.6rem;
  }
  
  /* ------------------------- vehicle --------------------- */ 
  #vehicle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  #velocity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  #gas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  #vehicle p{
    color: #DA2535;
    font-size: 2.6rem;
  }
  #vehicle img {
    width: 150px;
  }

  /* ------------------------- balance --------------------- */
  #balance img {
    width: 320px;
  }

  /* ------------------------- localization --------------------- */
  #localization img {
    width: 250px;
  }

  /* ------------------------- environment --------------------- */
  #environment #gas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  #environment #environment-container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
  }
  
  #environment #humidity {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  } 

  #environment #temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  } 

  #environment p {
    color: #25DA2C;
    font-size: 2.6rem;
  }

  #environment img {
    width: 250px;
  }

  /* ------------------------- butons --------------------- */
#buttons {
    grid-column-start: 1;
    grid-column-end: 3;

    display: flex;
    justify-content: space-evenly;
}

#buttons button {
    padding: 15px 30px;
    border: 3px solid var(--secondery-color);
    border-radius: 6px;
    text-transform: uppercase;
    color: var(--secondery-color);
    background-color: #F8F8F8;
    font-weight: bolder;
    font-size: 1.6rem;
    cursor: pointer;

    box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.418);
}  